#menu{
    -fx-background-color:#000000;
}
#bdmenu{
    -fx-background-color:#AAF200;
}
.label-menu,.menu2{
    -fx-text-fill: White;
    -fx-font-size:13px;
    -fx-underline:false;
    -fx-wrap-text:false;
}
.menu2{
    -fx-font-size:13px;
    -fx-font-weight:bold;
    -fx-padding: 5,0,0,0;
}
.label-menu:hover, .menu2:hover{
    -fx-text-fill: #FF8000;
    -fx-font-style: italic;
    -fx-cursor:HAND;
}
#Thuoc{
    -fx-text-fill:#AAF200;
    -fx-font-style: italic;
}
.label-submenu{
    -fx-font-size:20px;
    -fx-font-family:"Arial Black";
    -fx-font-weight:bold;
    -fx-fill: #000000;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 2 );
}

#txtThemThuoc,#txtThemVT,#txtThemDV, #txtTimKiem{
    -fx-font-weight:bold;
    -fx-font-family:"Arial";
}
.rec{
    -fx-fill:  #FFCF75;
}
#group,#AddGroup,.txt{
    -fx-font-weight:bold;
    -fx-font-family:"Tahoma";
    -fx-font-size:12px;
}
.rec:hover{
    -fx-fill:#FF8000;
    -fx-cursor:HAND;
}
#AddGroup:hover,.icon:hover{
    -fx-cursor:HAND;
}

